.personal-info{
    padding: 10px 15px;
    cursor: pointer;
}

.personal-info:hover{
  background-color: rgba(58, 57, 57, 0.144);
}

.card{
    border: none!important;
}


/* table          { overflow: auto; height: 100px; }
table thead th { position: sticky; top: 0; z-index: 1; }
table  { border-collapse: collapse; width: 100%; } */
/* th, td 
{ 
  padding: 8px 16px;
  border: 1px solid rgb(193, 189, 189)
} */
/* th     { background:rgb(154, 152, 152)!important; } */


/* .container-box {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-box:hover .image {
  opacity: 0.3;
}

.container-box:hover .middle {
  opacity: 1;
}

.text {
  color: rgb(15, 15, 15);
  font-size: 16px;
  padding: 16px 32px;
} */

/* input[type="file"] {
  display: none;
} */

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background: linear-gradient(270deg, #3fa1a9, #79f1a4);
  margin-bottom: 25px;
}

.img-wrap{
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}
.img-upload:before{
  content: "\f044";
  font-size: 35px;
  position: absolute;
  padding-top: 80px;
  padding-left: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #4f5050;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(255, 255, 255, 0.384);
}
.img-upload:hover:before{
 opacity: 1;
}
/* img {
  width: auto;
  height: 100%;
} */