/* @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@400;500;600&family=Rubik:wght@300&display=swap'); */

table,
td,
th,
tr {
  border-collapse: separate;
  border-spacing: 1px 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* table,tfoot,td,th,tr {
    border-collapse: separate;
    border-spacing: 0px 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }  */
table,
tbody {
  margin: 0px !important;
  padding: 0px !important;
}

address {
  line-height: 12px;
}

td>tr>td {
  border-spacing: 1px 1px;
}

hr {
  color: rgba(0, 0, 0, 0.704) !important;
}

.h6-line-height {
  line-height: 8px !important;
}